* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "GreatVibes-Regular-webfont";
  src: url("GreatVibes-Regular-webfont.ttf");
}
@font-face {
  font-family: "JosefinSans-Regular";
  src: url("JosefinSans-Regular.ttf");
}
.munehamb .overlay {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.munehamb .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.munehamb .overlay a {
  padding: 8px;
  text-decoration: none;
  font-family: "JosefinSans-Regular";
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.munehamb i {
  margin: 10px;
}
.munehamb .overlay a:hover, .munehamb .overlay a:focus {
  color: #f1f1f1;
}
.munehamb .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.munehamb span {
  font-family: "JosefinSans-Regular";
}
.munehamb a {
  font-family: Montserrat;
}
.munehamb .logbanner {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #742296;
}
.munehamb .logbanner .menubger {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 950px) {
  .munehamb {
    display: none;
  }
}
body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode .navigation .navbar a {
  color: white;
}

.navigation {
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.navigation .nav {
  width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .navbar a {
  font-weight: 600;
  color: black;
  font-family: "JosefinSans-Regular";
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
}
.navigation .navbar span {
  color: #742296;
}
.navigation .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation .logo img {
  width: 65%;
}
.navigation .light {
  margin-right: 115px;
  display: flex;
  justify-content: start;
  position: relative;
}
.navigation .light img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 64%;
}

#home {
  padding-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 50px;
  display: flex;
}
#home .buttons {
  padding-bottom: 40px;
}
#home .buttons .book {
  font-weight: 600;
  margin-left: 20px;
}
#home .one, #home .three {
  position: relative;
  top: 50px;
}
#home p {
  font-size: 18px;
  font-family: "JosefinSans-Regular";
}
#home .our {
  color: #742296;
  font-size: 18px;
  font-family: "JosefinSans-Regular";
  padding-bottom: 22px;
}
#home h1 {
  font-family: "JosefinSans-Regular";
  font-size: 45px;
  font-weight: bolder;
}
#home .twentypx {
  font-family: "JosefinSans-Regular";
  padding-bottom: 40px;
  padding-top: 15px;
  font-size: 20px;
}
#home .htext {
  width: 590px;
  position: relative;
  top: 15vh;
}
#home img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 12px;
  height: 100%;
  width: 21%;
}
#home .one, #home .two, #home .three, #home .four {
  -o-object-fit: cover;
     object-fit: cover;
}
#home .images {
  display: flex;
  justify-content: flex-end;
}
#home .more {
  font-weight: 600;
  font-family: "JosefinSans-Regular";
  text-decoration: none;
  padding: 11px;
  background-color: #742296;
  color: white;
}
#home .book {
  text-decoration: none;
  padding: 8px;
  border: 4px solid #742296;
  color: black;
}

#media {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
}
#media .project {
  -o-object-fit: cover;
     object-fit: cover;
  height: 260px;
}
#media .twoimgs {
  margin-top: 20px;
}
#media .twoimgs .tech {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 58px;
  height: 260px;
  right: 4px;
}
#media h3 {
  font-size: 21px;
  font-family: "JosefinSans-Regular";
}
#media p {
  line-height: 1.3;
  width: 395px;
  font-size: 18px;
  font-family: "JosefinSans-Regular";
}
#media .play {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
#media .click .clickme {
  height: 9%;
}
#media .click .watchvideo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/WhatsApp Image 2024-05-02 at 16.24.13_11af13b4.jpg");
  height: 321px;
  background-repeat: no-repeat;
  background-size: cover;
}
#media .click p {
  font-size: 18px;
  font-family: "JosefinSans-Regular";
  margin-top: 20px;
  margin-bottom: 29px;
}
#media .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  background-color: #742296;
}
#media .button a {
  font-weight: 600;
  font-family: "JosefinSans-Regular";
  color: white;
  text-decoration: none;
  padding: 11px;
}

#services {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 100px;
}
#services .allservices {
  display: flex;
  justify-content: center;
}
#services h3 {
  font-size: 21px;
  font-family: "JosefinSans-Regular";
  margin-bottom: 45px;
}
#services img {
  -o-object-fit: cover;
     object-fit: cover;
}
#services .party {
  background-image: url("images/IMG-20240502-WA0062.jpg");
  height: 480px;
  width: 352px;
  margin-left: 22px;
  background-size: cover;
}
#services .party .two {
  -o-object-fit: cover;
     object-fit: cover;
  top: 65.5vh;
  position: relative;
  float: inline-end;
  height: 8%;
}
#services .party p {
  font-weight: 600;
  color: white;
  font-size: 26px;
  font-family: "JosefinSans-Regular";
  top: 71vh;
  position: relative;
  text-align: center;
}
#services .digital {
  color: white;
  background-color: #742296;
  width: 340px;
  margin-left: 22px;
}
#services .digital .line {
  margin-top: 19px;
  position: absolute;
  width: 64px;
  border: 1px solid white;
}
#services .digital img {
  top: 70vh;
  position: relative;
  float: inline-end;
}
#services .digital h3 {
  margin-bottom: 22px;
  font-size: 21px;
  font-family: "JosefinSans-Regular";
  position: relative;
  top: 26px;
  padding-left: 30px;
}
#services .digital p {
  font-size: 18px;
  font-family: "JosefinSans-Regular";
  margin-top: 19px;
  position: relative;
  top: 26px;
  padding-left: 30px;
}
#services .camera {
  background-image: url("images/IMG-20240502-WA0064.jpg");
  background-size: cover;
  height: 480px;
  width: 352px;
  margin-left: 13px;
}
#services .camera p {
  font-weight: 600;
  font-size: 28px;
  font-family: "JosefinSans-Regular";
  position: relative;
  top: 71vh;
  text-align: center;
  color: white;
}
#services .camera img {
  height: 8%;
  position: relative;
  top: 69.8vh;
  float: inline-end;
  -o-object-fit: cover;
     object-fit: cover;
}

#clients {
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
}
#clients h3 {
  font-size: 21px;
  font-family: "JosefinSans-Regular";
}
#clients h3 {
  font-size: 21px;
  font-family: "JosefinSans-Regular";
  margin-top: 20px;
  margin-bottom: 20px;
}
#clients p {
  font-size: 18px;
  width: 344px;
  font-family: "JosefinSans-Regular";
}
#clients .prag {
  font-family: "JosefinSans-Regular";
  margin-bottom: 20px;
}
#clients .company {
  position: relative;
  top: 45px;
}
#clients .company .oneimg {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  width: 460px;
  height: 342px;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("images/IMG-20240502-WA0058.jpg");
}
#clients .company .oneimg img {
  height: 11%;
}
#clients .bride {
  position: relative;
  bottom: 10px;
}
#clients .bride .twoimg {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  background-image: url("images/services4.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  width: 460px;
  height: 343px;
  background-size: cover;
}
#clients .bride .twoimg img {
  height: 11%;
}
#clients .tigcomp {
  justify-content: space-evenly;
  display: flex;
}

.pics-instagram {
  margin-top: 105px;
  margin-left: 80px;
  margin-right: 80px;
}
.pics-instagram .head {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
.pics-instagram .head h2 {
  font-size: 21px;
  font-family: "JosefinSans-Regular";
  margin-left: 25px;
}
.pics-instagram .head .Instagram {
  font-family: "GreatVibes-Regular-webfont";
  font-size: 21px;
  margin-left: 25px;
}
.pics-instagram .images {
  justify-content: center;
  display: flex;
}
.pics-instagram .images img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 280px;
  margin-left: 12px;
}
.pics-instagram .images .two, .pics-instagram .images .four, .pics-instagram .images .six {
  position: relative;
  top: 69px;
}
.pics-instagram .images h3 {
  font-size: 22px;
  font-family: "JosefinSans-Regular";
}
.pics-instagram .tighbutoon {
  padding-top: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pics-instagram .tighbutoon .button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 113px;
  background-color: #742296;
  padding: 10px;
}
.pics-instagram .tighbutoon .button a {
  font-weight: 600;
  font-family: "JosefinSans-Regular";
  color: white;
  text-decoration: none;
}
.pics-instagram .tighbutoon h3 {
  font-family: "JosefinSans-Regular";
  font-size: 21px;
}

#footer {
  background-color: #742296;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 60px;
  margin-bottom: 10px;
}
#footer .copy {
  color: white;
}
#footer h3 {
  font-weight: bolder;
  font-size: 21px;
  font-family: "JosefinSans-Regular";
  color: white;
  margin-bottom: 10px;
}
#footer .line {
  margin-top: 20px;
  position: absolute;
  width: 88px;
  border: 1px solid white;
}
#footer .line2 {
  margin-top: 20px;
  position: absolute;
  width: 123px;
  border: 1px solid white;
}
#footer .line3 {
  margin-top: 20px;
  position: absolute;
  width: 123px;
  border: 1px solid white;
}
#footer p {
  font-size: 18px;
  font-family: "JosefinSans-Regular";
  color: white;
  margin-top: 15px;
}
#footer .fa-tw-lo p {
  line-height: 1.4;
}
#footer .fa-tw-lo img {
  width: 130px;
}
#footer .fa-tw-lo .icons {
  margin-top: 6px;
}
#footer .fa-tw-lo .icons a {
  text-decoration: none;
}
#footer .fa-tw-lo .icons .cone {
  font-size: 24px;
  color: white;
}
#footer .fa-tw-lo .icons .cone1 {
  margin-left: 13px;
  font-size: 24px;
  color: white;
}
#footer .about a {
  text-decoration: none;
}

@media (max-width: 568px) {
  .munehamb .overlay {
    background-color: rgb(0, 0, 0);
  }
  .munehamb span {
    color: white;
  }
  .munehamb .logbanner {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .munehamb .logbanner logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .munehamb .logbanner logo img {
    width: 40%;
  }
  .munehamb .overlay-content {
    top: 16%;
  }
  .munehamb .overlay .light-one {
    padding-top: 10px;
    padding-left: 11px;
    width: 10%;
  }
  .munehamb .overlay .closebtn {
    position: absolute;
    top: -18px;
    right: 8px;
    font-size: 71px;
  }
  .navigation {
    display: none;
  }
  #home {
    overflow: hidden;
    margin-left: 20px;
    padding-bottom: 98px;
    padding-top: 0px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  #home .twentypx {
    padding-top: 8px;
    padding-bottom: 20px;
    font-size: 12px;
  }
  #home img {
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 0px;
    height: 100%;
    width: 23%;
  }
  #home .images {
    display: flex;
    justify-content: space-between;
    top: 7.3vh;
    position: relative;
  }
  #home h1 {
    font-size: 28px;
  }
  #home .buttons {
    padding-bottom: 20px;
    justify-content: flex-start;
    display: flex;
  }
  #home .buttons a {
    margin-left: 2px;
  }
  #home .buttons .more {
    padding: 14px;
    font-size: 10px;
  }
  #home .buttons .book {
    margin-left: 15px;
    padding: 11px;
    font-size: 10px;
  }
  #home p {
    font-size: 10px;
  }
  #home .our {
    font-size: 10px;
    padding-bottom: 10px;
  }
  #home .htext {
    width: 357px;
    position: relative;
    top: 5vh;
  }
  #media {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  #media h3 {
    font-size: 18px;
  }
  #media p {
    width: 339px;
    font-size: 10px;
  }
  #media .play {
    margin-top: 8px;
    flex-direction: column;
  }
  #media .twoimgs {
    margin-top: 15px;
  }
  #media .twoimgs .tech {
    display: none;
    right: 0px;
    top: 67px;
    width: 170px;
    height: 220px;
  }
  #media .twoimgs, #media .project {
    display: none;
  }
  #media .twoimgs {
    display: flex;
  }
  #media .click {
    padding-top: 0px;
  }
  #media .click p {
    font-size: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #media .click .watchvideo {
    height: 299px;
    background-size: contain;
  }
  #media .button {
    border-radius: 0px;
    width: 99px;
  }
  #media .button a {
    padding: 14px;
    font-size: 10px;
  }
  #services {
    overflow: hidden;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #services .allservices {
    display: flex;
    flex-direction: column;
  }
  #services h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  #services .party {
    width: 334px;
    margin-left: 0px;
  }
  #services .party p {
    top: 66vh;
    font-size: 20px;
  }
  #services .party .two {
    display: none;
  }
  #services .digital {
    width: 334px;
    margin-top: 10px;
    height: 480px;
    margin-left: 0px;
  }
  #services .digital .line {
    margin-top: 12px;
    width: 40px;
  }
  #services .digital p {
    margin-top: 23px;
    font-size: 10px;
  }
  #services .digital h3 {
    font-size: 15px;
  }
  #services .digital img {
    display: none;
  }
  #services .camera {
    margin-top: 10px;
    width: 334px;
    margin-left: 0px;
  }
  #services .camera p {
    top: 66vh;
    font-size: 20px;
  }
  #services .camera img {
    display: none;
  }
  #clients {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  #clients .tigcomp {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  #clients .prag {
    margin-bottom: 8px;
  }
  #clients p {
    width: 335px;
    font-size: 10px;
  }
  #clients h3 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 15px;
  }
  #clients h3 {
    font-size: 18px;
  }
  #clients .company {
    top: 15px;
  }
  #clients .company .oneimg {
    height: 251px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
  }
  #clients .company .oneimg img {
    display: none;
  }
  #clients .bride {
    top: 31px;
  }
  #clients .bride .twoimg {
    height: 286px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
  }
  #clients .bride .twoimg img {
    display: none;
  }
  .pics-instagram {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  .pics-instagram .images {
    display: flex;
    justify-content: space-between;
  }
  .pics-instagram .head {
    margin-bottom: 25px;
  }
  .pics-instagram .head h2 {
    margin-left: 15px;
    font-size: 18px;
  }
  .pics-instagram .head .Instagram {
    font-size: 18px;
    margin-left: 11px;
  }
  .pics-instagram .tighbutoon {
    padding-top: 83px;
  }
  .pics-instagram .tighbutoon h3 {
    font-size: 15px;
  }
  .pics-instagram .tighbutoon .button {
    margin-top: 15px;
    padding: 0px;
    width: 99px;
  }
  .pics-instagram .tighbutoon .button a {
    padding: 14px;
    font-size: 10px;
  }
  .pics-instagram .images .one, .pics-instagram .images .six, .pics-instagram .images .five {
    display: none;
  }
  .pics-instagram .images img {
    margin-left: 0px;
    height: 235px;
  }
  #footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  #footer .fa-tw-lo {
    width: 125px;
  }
  #footer .fa-tw-lo p {
    font-size: 10px;
  }
  #footer .fa-tw-lo img {
    width: 78px;
  }
  #footer .fa-tw-lo .icons {
    margin-top: 8px;
  }
  #footer .fa-tw-lo .icons .cone {
    font-size: 18px;
  }
  #footer .fa-tw-lo .icons .cone1 {
    font-size: 18px;
    margin-left: 6px;
  }
  #footer h3 {
    font-size: 18px;
  }
  #footer p {
    font-size: 10px;
    margin-top: 8px;
  }
  #footer .about {
    margin-top: 11px;
    height: 123px;
    width: 159px;
  }
  #footer .line {
    margin-top: 16px;
    width: 71px;
  }
  #footer .line3 {
    width: 100px;
    margin-top: 18px;
  }
  #footer .line2 {
    width: 100px;
    margin-top: 19px;
  }
}
@media (min-width: 569px) and (max-width: 768px) {
  .munehamb .overlay {
    background-color: rgb(0, 0, 0);
  }
  .munehamb .logbanner logo {
    align-items: center;
    justify-content: flex-start;
    display: flex;
  }
  .munehamb .logbanner logo img {
    width: 50%;
  }
  .munehamb .logbanner .menubger {
    font-size: 35px;
    color: white;
    cursor: pointer;
  }
  .munehamb .logbanner {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .munehamb .overlay-content {
    top: 12%;
  }
  .munehamb .overlay .closebtn {
    top: -20px;
    right: 7px;
    font-size: 81px;
  }
  .munehamb .overlay .light-one {
    padding-top: 12px;
    width: 6%;
    padding-left: 20px;
  }
  .navigation {
    display: none;
  }
  #home {
    overflow: hidden;
    margin-left: 20px;
    padding-bottom: 132px;
    padding-top: 0px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
  }
  #home .twentypx {
    padding-top: 12px;
    padding-bottom: 30px;
    font-size: 14px;
  }
  #home .htext {
    position: relative;
    top: 4vh;
  }
  #home img {
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 0px;
    height: 100%;
    width: 23%;
  }
  #home .images {
    display: flex;
    justify-content: space-between;
    top: 8vh;
    position: relative;
  }
  #home h1 {
    font-size: 32px;
  }
  #home .buttons {
    padding-bottom: 30px;
    justify-content: flex-start;
    display: flex;
  }
  #home .buttons a {
    margin-left: 2px;
  }
  #home .buttons .more {
    padding: 15px;
    font-size: 12px;
  }
  #home .buttons .book {
    margin-left: 15px;
    padding: 12px;
    font-size: 12px;
  }
  #home p {
    font-size: 13px;
  }
  #home .our {
    font-size: 13px;
    padding-bottom: 10px;
  }
  #media {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  #media h3 {
    font-size: 18px;
  }
  #media p {
    width: 339px;
    font-size: 13px;
  }
  #media .play {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  #media .twoimgs .tech {
    right: 0px;
    top: 86px;
    height: 225px;
  }
  #media .twoimgs, #media .project {
    -o-object-fit: contain;
       object-fit: contain;
    height: 213px;
  }
  #media .twoimgs {
    display: flex;
  }
  #media .click p {
    font-size: 13px;
    margin-bottom: 20px;
  }
  #media .click .watchvideo {
    height: 303px;
    width: 340px;
    background-size: contain;
  }
  #media .button {
    border-radius: 0px;
    width: 113px;
  }
  #media .button a {
    padding: 14px;
    font-size: 12px;
  }
  #services {
    overflow: hidden;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #services .allservices {
    display: flex;
    justify-content: space-between;
  }
  #services h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  #services .party {
    height: 359px;
    width: 233px;
    margin-left: 0px;
  }
  #services .party p {
    top: 32vh;
    font-size: 20px;
  }
  #services .party .two {
    display: none;
  }
  #services .digital {
    height: 359px;
    width: 233px;
    margin-left: 0px;
  }
  #services .digital .line {
    margin-top: 13px;
    width: 51px;
  }
  #services .digital p {
    margin-top: 17px;
    font-size: 13px;
  }
  #services .digital h3 {
    margin-bottom: 0px;
    font-size: 18px;
  }
  #services .digital img {
    display: none;
  }
  #services .camera {
    margin-left: 0px;
    -o-object-fit: cover;
       object-fit: cover;
    height: 359px;
    width: 233px;
  }
  #services .camera p {
    top: 32vh;
    font-size: 20px;
  }
  #services .camera .two {
    display: none;
  }
  #clients {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  #clients .tigcomp {
    padding-bottom: 43px;
    display: flex;
    justify-content: space-between;
  }
  #clients .prag {
    margin-bottom: 8px;
  }
  #clients p {
    width: 335px;
    font-size: 13px;
  }
  #clients h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    font-size: 18px;
  }
  #clients h2 {
    font-size: 18px;
  }
  #clients .company {
    top: 20px;
  }
  #clients .company .oneimg {
    height: 251px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
  }
  #clients .company .oneimg img {
    display: none;
  }
  #clients .bride {
    top: 40px;
  }
  #clients .bride .twoimg {
    height: 286px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
  }
  #clients .bride .twoimg img {
    display: none;
  }
  .pics-instagram {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  .pics-instagram .head {
    margin-bottom: 20px;
  }
  .pics-instagram .head h2 {
    margin-left: 15px;
    font-size: 20px;
  }
  .pics-instagram .tighbutoon {
    padding-top: 83px;
  }
  .pics-instagram .tighbutoon h3 {
    font-size: 18px;
  }
  .pics-instagram .tighbutoon .button {
    padding: 0px;
    width: 99px;
  }
  .pics-instagram .tighbutoon .button a {
    padding: 14px;
    font-size: 12px;
  }
  .pics-instagram .images {
    justify-content: space-between;
    display: flex;
  }
  .pics-instagram .images img {
    margin-left: 0px;
    height: 255px;
  }
  #footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }
  #footer .fa-tw-lo p {
    font-size: 12px;
  }
  #footer .fa-tw-lo img {
    width: 78px;
  }
  #footer h3 {
    font-size: 18px;
  }
  #footer p {
    font-size: 12px;
    margin-top: 8px;
  }
  #footer .about {
    height: 119px;
  }
  #footer .line {
    margin-top: 20px;
    width: 82px;
  }
  #footer .line3 {
    width: 110px;
    margin-top: 20px;
  }
  #footer .line2 {
    width: 103px;
    margin-top: 20px;
  }
}
@media (min-width: 769px) and (max-width: 950px) {
  .munehamb .overlay {
    background-color: rgb(0, 0, 0);
  }
  .munehamb .logbanner logo {
    align-items: center;
    justify-content: flex-start;
    display: flex;
  }
  .munehamb .logbanner logo img {
    width: 52%;
  }
  .munehamb .logbanner .menubger {
    font-size: 35px;
    color: white;
    cursor: pointer;
  }
  .munehamb .logbanner {
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .munehamb .overlay-content {
    top: 12%;
  }
  .munehamb .overlay .light-one {
    padding-top: 12px;
    width: 6%;
    padding-left: 20px;
  }
  .munehamb .overlay .closebtn {
    top: -20px;
    right: 18px;
    font-size: 81px;
  }
  .navigation {
    display: none;
  }
  #home {
    overflow: hidden;
    margin-left: 30px;
    padding-bottom: 71px;
    padding-top: 0px;
    margin-right: 30px;
    display: flex;
  }
  #home .twentypx {
    padding-top: 8px;
    padding-bottom: 20px;
    font-size: 15px;
  }
  #home .htext {
    width: 748px;
    position: relative;
    top: 6vh;
  }
  #home img {
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 0px;
    height: 107%;
    width: 24%;
  }
  #home .images {
    display: flex;
    justify-content: space-between;
  }
  #home h1 {
    font-size: 30px;
  }
  #home .buttons {
    padding-bottom: 20px;
    justify-content: flex-start;
    display: flex;
  }
  #home .buttons a {
    margin-left: 2px;
  }
  #home .buttons .more {
    padding: 15px;
    font-size: 10px;
  }
  #home .buttons .book {
    margin-left: 15px;
    padding: 12px;
    font-size: 10px;
  }
  #home p {
    font-size: 14px;
  }
  #home .our {
    font-size: 14px;
    padding-bottom: 10px;
  }
  #media {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
  }
  #media h3 {
    font-size: 19px;
  }
  #media p {
    width: 339px;
    font-size: 14px;
  }
  #media .play {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
  }
  #media .twoimgs .tech {
    right: 0px;
    top: 73px;
    height: 241px;
  }
  #media .twoimgs, #media .project {
    height: 241px;
  }
  #media .twoimgs {
    margin-top: 15px;
    display: flex;
  }
  #media .click p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #media .button {
    border-radius: 0px;
    width: 113px;
  }
  #media .button a {
    padding: 14px;
    font-size: 10px;
  }
  #services {
    overflow: hidden;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
  #services .allservices {
    display: flex;
    justify-content: space-between;
  }
  #services h3 {
    font-size: 19px;
    margin-bottom: 20px;
  }
  #services .party {
    height: 370px;
    width: 240px;
    margin-left: 0px;
  }
  #services .party p {
    top: 28vh;
    font-size: 23px;
  }
  #services .party .two {
    display: none;
  }
  #services .digital {
    height: 370px;
    width: 240px;
    margin-left: 0px;
  }
  #services .digital .line {
    margin-top: 16px;
    width: 56px;
  }
  #services .digital p {
    margin-top: 15px;
    font-size: 14px;
  }
  #services .digital h3 {
    margin-bottom: 15px;
    font-size: 19px;
  }
  #services .digital img {
    display: none;
  }
  #services .camera {
    height: 370px;
    width: 240px;
    margin-left: 0px;
  }
  #services .camera p {
    font-size: 23px;
    top: 28vh;
  }
  #clients {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
  }
  #clients .tigcomp {
    padding-bottom: 43px;
    display: flex;
    justify-content: space-between;
  }
  #clients .prag {
    margin-bottom: 8px;
  }
  #clients p {
    width: 335px;
    font-size: 14px;
  }
  #clients h3 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 19px;
  }
  #clients h3 {
    font-size: 19px;
  }
  #clients .company {
    top: 20px;
  }
  #clients .company .oneimg {
    height: 251px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
  }
  #clients .company .oneimg img {
    display: none;
  }
  #clients .bride {
    top: 43px;
  }
  #clients .bride .twoimg {
    height: 286px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 335px;
  }
  #clients .bride .twoimg img {
    display: none;
  }
  .pics-instagram {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
  }
  .pics-instagram .head {
    margin-bottom: 20px;
  }
  .pics-instagram .head h2 {
    margin-left: 15px;
    font-size: 21px;
  }
  .pics-instagram .head .Instagram {
    font-size: 21px;
  }
  .pics-instagram .tighbutoon {
    padding-top: 83px;
  }
  .pics-instagram .tighbutoon h3 {
    font-size: 19px;
  }
  .pics-instagram .tighbutoon .button {
    padding: 0px;
    width: 102px;
  }
  .pics-instagram .tighbutoon .button a {
    padding: 14px;
    font-size: 10px;
  }
  .pics-instagram .images {
    justify-content: space-between;
    display: flex;
  }
  .pics-instagram .images img {
    margin-left: 0px;
    height: 255px;
  }
  #footer {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
  }
  #footer .fa-tw-lo p {
    font-size: 13px;
  }
  #footer .fa-tw-lo img {
    width: 78px;
  }
  #footer h3 {
    font-size: 19px;
  }
  #footer p {
    font-size: 13px;
    margin-top: 8px;
  }
  #footer .about {
    height: 119px;
  }
  #footer .line {
    margin-top: 17px;
    width: 76px;
  }
  #footer .line3 {
    width: 111px;
    margin-top: 19px;
  }
  #footer .line2 {
    width: 111px;
    margin-top: 19px;
  }
}
@media (min-width: 951px) and (max-width: 1024px) {
  .navigation {
    margin-bottom: 30px;
    margin-left: 27px;
    margin-right: 40px;
  }
  .navigation .logo img {
    width: 50%;
  }
  .navigation .light {
    margin-right: 70px;
  }
  .navigation .light img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 50%;
  }
  .navigation .navbar a {
    font-size: 16px;
  }
  .navigation .nav {
    width: 456px;
  }
  #home {
    overflow: hidden;
    margin-left: 40px;
    padding-bottom: 71px;
    padding-top: 0px;
    margin-right: 40px;
    display: flex;
  }
  #home .twentypx {
    padding-top: 8px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  #home .htext {
    width: 719px;
    position: relative;
    top: 6vh;
  }
  #home img {
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 0px;
    height: 107%;
    width: 24%;
  }
  #home .images {
    display: flex;
    justify-content: center;
  }
  #home .one, #home .two, #home .three, #home .four {
    margin-left: 6px;
  }
  #home h1 {
    font-size: 40px;
  }
  #home .buttons {
    padding-bottom: 20px;
    justify-content: flex-start;
    display: flex;
  }
  #home .buttons a {
    margin-left: 2px;
  }
  #home .buttons .more {
    padding: 15px;
    font-size: 12px;
  }
  #home .buttons .book {
    margin-left: 15px;
    padding: 12px;
    font-size: 12px;
  }
  #home p {
    font-size: 16px;
  }
  #home .our {
    font-size: 16px;
    padding-bottom: 10px;
  }
  #media {
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }
  #media h3 {
    font-size: 20px;
  }
  #media .play {
    margin-top: 20px;
  }
  #media p {
    font-size: 16px;
  }
  #media .button {
    border-radius: 0px;
    width: 115px;
  }
  #media .button a {
    padding: 15px;
    font-size: 12px;
  }
  #media .twoimgs {
    margin-top: 15px;
  }
  #media .click .watchvideo {
    width: 360px;
  }
  #media .click p {
    font-size: 16px;
    width: 360px;
    margin-bottom: 28px;
    margin-top: 15px;
  }
  #services {
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }
  #services h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #services .camera {
    height: 452px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #services .camera p {
    top: 30vh;
  }
  #services .camera img {
    position: relative;
    top: 30.4vh;
    float: inline-end;
  }
  #services .party {
    height: 452px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #services .party p {
    top: 30vh;
  }
  #services .party .two {
    position: relative;
    top: 28.4vh;
    float: inline-end;
  }
  #services .digital .line {
    margin-top: 17px;
    width: 60px;
  }
  #services .digital img {
    position: relative;
    top: 30.4vh;
  }
  #services .digital h3 {
    font-size: 20px;
  }
  #services .digital p {
    font-size: 16px;
  }
  #clients {
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
  }
  #clients .tigcomp {
    margin-top: 30px;
  }
  #clients p {
    font-size: 16px;
  }
  #clients .bride .twoimg {
    width: 401px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #clients .company .oneimg {
    width: 458px;
    height: 341px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #clients h3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  #clients .prag {
    margin-bottom: 15px;
  }
  .pics-instagram {
    margin: 123px 40px 0px 40px;
  }
  .pics-instagram .head {
    margin-bottom: 25px;
  }
  .pics-instagram .head h2 {
    font-size: 23px;
  }
  .pics-instagram .head .Instagram {
    font-size: 23px;
  }
  .pics-instagram .tighbutoon {
    padding-top: 95px;
  }
  .pics-instagram .tighbutoon h3 {
    font-size: 20px;
  }
  .pics-instagram .tighbutoon .button {
    margin-top: 15px;
  }
  #footer {
    margin-top: 40px;
    padding: 40px 40px 50px 40px;
  }
  #footer h3 {
    font-size: 20px;
  }
  #footer .line3, #footer .line2 {
    margin-top: 20px;
    width: 112px;
  }
  #footer .line {
    width: 82px;
  }
}/*# sourceMappingURL=style.css.map */